
header{
    height: 70px;
    background-color: #fec100;
    display: flex;
    justify-content: space-between;
}

#indice{
    font-size: 35px;
    color: #ffffff;
    text-align: left;
    padding: 15px;
}

#Try{
    font-size: 30px;
    color: #ffffff;
    text-align: right;
    padding: 25px;
}

button {
    padding: 10px 20px;
    background-color: #d3a613;
    color: white;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    font-size: 16px;
    margin-top: 20px;
  }
  
  button:hover {
    background-color: #644d00;
  }